<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<parameter name="srcCurr" value="1"></parameter>
	<parameter name="fromval" value="AUD"></parameter>
	<parameter name="toval" value="EUR"></parameter>


	<test name="Test1">
		<classes>
			<class name="com.sb.qa.testcases.SmartReporting_UnitTest" />
		</classes>
	</test> <!-- Test -->


	<test name="Test2">
		<classes>
			<class name="com.sb.qa.testcases.SmartReportingEndToEndTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
